.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 300px;
    margin-bottom: 16px;
    border: 5px solid #F2F2F7;
    border-radius: 150px;
}

.title {
    margin-bottom: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.87;
    text-align: center;
    color: #081F32;

    @media screen and (min-width: 480px) {
        font-size: 48px;
    }
}

.subtitle {
    margin-bottom: 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    color: #8E8E93;
}

.list {
    width: 250px;
        @media screen and (min-width: 480px) {
        width: 380px;
        }
}

.item {
    align-self: flex-start;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid rgba(33, 33, 33, 0.08);

    & h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.15px;
        color: #081F32;
    }

    & p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 0.25px;
        color: #6E798C;
    }
}